asgiref==3.3.1
astroid==2.4.2
beautifulsoup4==4.9.3
Django==3.1.4
django-bootstrap4==2.3.1
django-crispy-forms==1.10.0
django-money==1.3
isort==5.7.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
py-moneyed==0.8.0
pylint==2.6.0
PyMySQL==1.0.2
python-dotenv==0.15.0
pytz==2020.5
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
toml==0.10.2
wrapt==1.12.1
