{% extends "base.html" %}
{% block content %}
    <div>
        <h1 class="jumbotron">LiveLedger! - What is it?</h1>
        <p>
            LiveLedger! is a online tool that people can use to keep a running ledger tracking how much money that 
            they spend. Income and charges can be added with ease.
            The most powerful thing about liveledger! is that it is online, and can be shared easily with other
            LiveLedger! users. LiveLedger! is also totally manual, which allows the user full control of what is
            on and off of the "books".
        </p>
        <h2>Testimonials</h2>
        <p>Ashley - My husband and I needed a way to keep track of everyday expenses to stay under a certain
            amount on our budget. LiveLedger! did the job and helped keep us on track to eliminating debt.
        </p>
    </div>
{% endblock %}